In [1]:
#2.15(Fungsi range)
a_24 = range(8)
print(a_24)

range(0, 8)

In [2]:
for isi_24 in a_24:
    print(isi_24)

0
1
2
3
4
5
6
7

In [3]:
for isi_24 in range(4,12):
    print(isi_24)

4
5
6
7
8
9
10
11

In [4]:
for isi_24 in range(1,10,4):
    print(isi_24)

1
5
9

In [5]:
penggaris_24 = range(30)
print(penggaris_24)

range(0, 30)

In [6]:
for batas_24 in penggaris_24:
    print(batas_24)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [7]:
for batas_24 in range(0,15):
  print(batas_24)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [8]:
for batas_24 in range(1,30,5):
    print(batas_24)

1
6
11
16
21
26

In [9]:
timbangan_24 = range(100)
print(timbangan_24)

range(0, 100)

In [10]:
#tidak bisa menjabarkan berat_badan_24 in timbangan_24 karena nilai nya 100

In [11]:
for berat_badan_24 in range(55,80):
    print(berat_badan_24)

55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

In [12]:
for berat_badan_24 in range(20,50,10):
    print(berat_badan_24)

20
30
40

In [13]:
pita_ukur_24 = range(100)
print(pita_ukur_24)

range(0, 100)

In [14]:
#tidak bisa menjabarkan jarak_24 in pita_ukur_24 karena nilai nya 100

In [15]:
for jarak_24 in range(50,75):
    print(jarak_24)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74

In [16]:
for jarak_24 in range(30,100,15):
    print(jarak_24)

30
45
60
75
90

In [17]:
termometer_medis_24 = range(42)
print(termometer_medis_24)

range(0, 42)

In [18]:
for rentang_suhu_24 in termometer_medis_24:
    print(rentang_suhu_24)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41

In [19]:
for rentang_suhu_24 in range(36,42):
    print(rentang_suhu_24)

36
37
38
39
40
41

In [20]:
for rentang_suhu_24 in range(36,42,2):
    print(rentang_suhu_24)

36
38
40

In [21]:
angka_24 = [2,2,2,3,4,5,5,6,10]
terbesar = angka_24[0]
for i in range(len(angka_24)):
    if angka_24[i] > terbesar:
        terbesar = angka_24[i]
print(terbesar)

10

In [22]:
x_24 = [1,2,3,3,4,5,8,6,7,8]
x_24_unik = []
for isi in x_24:
    if isi not in x_24_unik:
        x_24_unik.append(isi)
print(x_24_unik)

[1, 2, 3, 4, 5, 8, 6, 7]

In [23]:
#2.16(List 2 Dimensi)
matriks_24 = [
    [1,3,5,7,9],
    [2,4,6,8,10],
    [3,6,9,12,15],
    [4,8,12,16,20]
]
print(matriks_24)

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [24]:
matriks_24[3]

[4, 8, 12, 16, 20]

In [25]:
matriks_24[2][0]

3

In [26]:
matriks_24[2][3]=80
print(matriks_24[2][3])

80

In [27]:
matriks_24

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [3, 6, 9, 80, 15], [4, 8, 12, 16, 20]]

In [28]:
for baris in matriks_24:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 3, 5, 7, 9]
1
3
5
7
9
[2, 4, 6, 8, 10]
2
4
6
8
10
[3, 6, 9, 80, 15]
3
6
9
80
15
[4, 8, 12, 16, 20]
4
8
12
16
20

In [29]:
matriks_N_24 = [
    [2,3,5,7],
    [0,1,2,3],
    [-2,-1,0,1],
    [1,2,3,4]
]
print(matriks_N_24)

[[2, 3, 5, 7], [0, 1, 2, 3], [-2, -1, 0, 1], [1, 2, 3, 4]]

In [30]:
matriks_N_24[2]

[-2, -1, 0, 1]

In [31]:
matriks_N_24[0]

[2, 3, 5, 7]

In [32]:
matriks_N_24[1][0]

0

In [33]:
matriks_N_24[3][2]

3

In [34]:
matriks_N_24[1][0]=8
print(matriks_N_24[1][0])

8

In [35]:
matriks_N_24

[[2, 3, 5, 7], [8, 1, 2, 3], [-2, -1, 0, 1], [1, 2, 3, 4]]

In [36]:
for baris in matriks_N_24:
    print(baris)
    for kolom in baris:
        print(kolom)

[2, 3, 5, 7]
2
3
5
7
[8, 1, 2, 3]
8
1
2
3
[-2, -1, 0, 1]
-2
-1
0
1
[1, 2, 3, 4]
1
2
3
4

In [37]:
matriks_K_24 = [
    [11,12,13],
    [21,22,23],
    [31,32,33]
]
print(matriks_K_24)

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [38]:
matriks_K_24[1]

[21, 22, 23]

In [39]:
matriks_K_24[2][1]

32

In [40]:
matriks_K_24[0][2]=2*2
print(matriks_K_24[0][2])

4

In [41]:
matriks_K_24

[[11, 12, 4], [21, 22, 23], [31, 32, 33]]

In [42]:
for baris in matriks_K_24:
    print(baris)
    for kolom in baris:
        print(kolom)

[11, 12, 4]
11
12
4
[21, 22, 23]
21
22
23
[31, 32, 33]
31
32
33

In [43]:
#2.17(Tuples)
y_24 = (2,3,1,3,4,5,5)
print(y_24[2])

1

In [44]:
print(y_24[1:2])

(3,)

In [45]:
print(y_24[2:5])

(1, 3, 4)

In [46]:
for isi_dalam_24 in y_24[2:6]:
    print(isi_dalam_24)

1
3
4
5

In [47]:
#Tuples tidak dapat dirubah isinya
y_24[2] = 12
y_24.append(12)
y_24.remove(3)

TypeError: 'tuple' object does not support item assignment

In [48]:
y_24.count(2)

1

In [49]:
y_24.index(3)

1

In [51]:
bilangan_asli_24 = (1,2,3,4,4,3,5,5,5,6,7)
print(bilangan_asli_24)

(1, 2, 3, 4, 4, 3, 5, 5, 5, 6, 7)

In [52]:
print(bilangan_asli_24[4])

4

In [53]:
print(bilangan_asli_24[6])

5

In [54]:
print(bilangan_asli_24[2:6])

(3, 4, 4, 3)

In [55]:
for dalam in bilangan_asli_24[2:6]:
    print(dalam)

3
4
4
3

In [56]:
bilangan_asli_24.count(5)

3

In [57]:
bilangan_asli_24.index(4)

3

In [58]:
bilangan_prima_24 = (2,3,5,7,11)
print(bilangan_prima_24)

(2, 3, 5, 7, 11)

In [59]:
print(bilangan_prima_24[1])

3

In [60]:
print(bilangan_prima_24[3:4])

(7,)

In [61]:
print(bilangan_prima_24[1:4])

(3, 5, 7)

In [62]:
for isi in bilangan_prima_24[1:4]:
    print(isi)

3
5
7

In [63]:
bilangan_prima_24.count(2)

1

In [64]:
bilangan_prima_24.count(3)

1

In [65]:
bilangan_prima_24.index(2)

0

In [66]:
#2.18(Dictionaries)
biodata_diri_24 = {
    "Nama"    :    "Ni Luh Mitaherlina Dewi",
    "Status"  :     "Sudah ada pacar",
    "Tempat,Tanggal Lahir" : "Denpasar,19 September 2005",
    "Alamat" : "Jalan Legian Kaja no 447",
    "Email" :"jalanjalan@gmail.com",
    "Agama" : "Hindu",
    "Kewarganegaraan" : "Indonesia"
}
print(biodata_diri_24)

{'Nama': 'Ni Luh Mitaherlina Dewi', 'Status': 'Sudah ada pacar', 'Tempat,Tanggal Lahir': 'Denpasar,19 September 2005', 'Alamat': 'Jalan Legian Kaja no 447', 'Email': 'jalanjalan@gmail.com', 'Agama': 'Hindu', 'Kewarganegaraan': 'Indonesia'}

In [67]:
print(biodata_diri_24['Nama'])

Ni Luh Mitaherlina Dewi

In [69]:
print(biodata_diri_24['Alamat'])

Jalan Legian Kaja no 447

In [68]:
print(biodata_diri_24['Status'])

Sudah ada pacar

In [70]:
biodata_diri_24['No Hp'] = '081933110686'
print(biodata_diri_24["No Hp"])

081933110686

In [71]:
print(biodata_diri_24)

{'Nama': 'Ni Luh Mitaherlina Dewi', 'Status': 'Sudah ada pacar', 'Tempat,Tanggal Lahir': 'Denpasar,19 September 2005', 'Alamat': 'Jalan Legian Kaja no 447', 'Email': 'jalanjalan@gmail.com', 'Agama': 'Hindu', 'Kewarganegaraan': 'Indonesia', 'No Hp': '081933110686'}

In [72]:
No_Hp_24 = {
    "0" : "zero",
    "1" : "one",
    "2" : "two",
    "3" : "three",
    "4" : "four",
    "5" : "five",
    "6" : "six",
    "7" : "seven",
    "8" : "eight",
    "9" : "nine"
}
Nomor_Hp_24 = input("Berapakah nomor Hp kamu? ")
Nomornya = ""
for isi in Nomor_Hp_24:
    Nomornya += No_Hp_24.get(isi) + " "
print(Nomornya)

Berapakah nomor Hp kamu? 098763537618
zero nine eight seven six three five three seven six one eight

In [73]:
penyanyi_24 = {
    "Artis 1" : "Yura Yunita",
    "Artis 2" : "Tulus",
    "Artis 3" : "Feby Putri",
    "Artis 4" : "IDGTAF",
    "Artis 5" : "Nadine Hamizah"
}
print(penyanyi_24['Artis 2'])

Tulus

In [74]:
print(penyanyi_24)

{'Artis 1': 'Yura Yunita', 'Artis 2': 'Tulus', 'Artis 3': 'Feby Putri', 'Artis 4': 'IDGTAF', 'Artis 5': 'Nadine Hamizah'}

In [75]:
print(penyanyi_24.get('Artis 3'))

Feby Putri

In [76]:
print(penyanyi_24.get('Artis 1'))

Yura Yunita

In [82]:
#2.19(Fungsi dalam Python)
def nama_lengkap_24(nama_depan_24,nama_belakang_24):
    print(f"Ohhh nama kamu {nama_depan_24} {nama_belakang_24}")
nama_depan_24 = input("Siapakah nama depan kamu? ")
nama_belakang_24 = input("Nama belakangnya siapa? ")
nama_lengkap_24(nama_depan_24,nama_belakang_24)

Siapakah nama depan kamu? Mitaherlina
Nama belakangnya siapa? Dewi
Ohhh nama kamu Mitaherlina Dewi

In [78]:
def keliling_persegi_24(sisi):
    keliling_persegi_24 = 4*sisi
    print(keliling_persegi_24)

In [86]:
def luas_persegi_24(sisi):
    luas_persegi_24 = sisi**2
    return luas_persegi_24

In [80]:
keliling_persegi_24(30)

120

In [87]:
luas_persegi_24(16)

256

In [84]:
x = keliling_persegi_24(30)
print(x)

120
None

In [85]:
y = luas_persegi_24(16)
print(y)

256

In [92]:
bidang_datar_24 = input("Bidang datar apakah itu? ")
if bidang_datar_24.upper() == 'JAJAR GENJANG':
    alas = float(input('Berapakah panjang alas dari jajar genjang? '))
    tinggi = float(input('Lalu tingginya berapa? '))
    luas = luas_jajar_genjang(alas,tinggi)
    print(f"Luasnya {bidang_datar_24} adalah {luas}")
elif bidang_datar_24.upper() == 'TRAPESIUM':
    sisi1 = float(input('Sisi atasnya berapa? '))
    sisi2 = float(input('Sisi bawahnya berapa? '))
    tinggi = float(input('Berapa tingginya? '))
    luas = luas_trapesium(sisi1,sisi2,tinggi)
    print(f"Luas dari {bidang_datar_24} adalah {luas}")
elif bidang_datar_24.upper() == 'BELAH KETUPAT':
    diagonal1 = float(input('Berapa panjang diagonal yang pertama? '))
    diagonal2 = float(input('Berapa panjang diagonal yang kedua? '))
    luas = luas_belah_ketupat(diagonal1,diagonal2)
    print(f"Luas dari {bidang_datar_24} adalah {luas}")
else:
    print(f"Sorry bidang {bidang_datar_24} yang anda maksud tidak masuk dalam list saya. ")
    print("Disini cuma ada JAJARGENJANG, TRAPESIUM dan BELAH KETUPAT.")
    print("Maaf apakah anda ada saran?")
    print("Baik, terima kasih")

Bidang datar apakah itu? JAJARGENJANG
Sorry bidang JAJARGENJANG yang anda maksud tidak masuk dalam list saya.
Disini cuma ada JAJARGENJANG, TRAPESIUM dan BELAH KETUPAT.
Maaf apakah anda ada saran?
Baik, terima kasih

In [93]:

def pekerjaan_24(pekerjaan1_24,pekerjaan2_24):
    print(f"Jadi kamu berkerja sebagai {pekerjaan1_24} dan {pekerjaan2_24}")
pekerjaan1_24 = input("Apa pekerjaan kamu yang pertama? ")
pekerjaan2_24 = input("Yang kedua bekerja sebagai apa? ")
pekerjaan_24(pekerjaan1_24,pekerjaan2_24)

Apa pekerjaan kamu yang pertama? guru
Yang kedua bekerja sebagai apa? tiktokers
Jadi kamu berkerja sebagai guru dan tiktokers